/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  height: 427px;
  overflow: hidden;
  background-image: url("../../static/img/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 8rem;
}

.heroTitle {
  border: 2px solid white;
  border-radius: 4px;
  padding: 0rem 0.5rem;
}

.heroColor {
  color: var(--ifm-color-hero);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  display: flex;
  align-items: center;
  padding: 4rem;
  width: 100%;
}

.blue {
  color: var(--ifm-link-color);
}

.borderBlue {
  width: max-content;
  border-bottom: 3px solid var(--ifm-link-color);
  box-sizing: content-box;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1.5rem;
  }

  .introduction {
    padding: 1.5rem;
  }
}
