{
  "plugins": ["prettier-plugin-solidity"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "useTabs": false,
        "singleQuote": false,
        "semi": true
      }
    }
  ]
}
