build/
node_modules/
coverage/
tmp/
artifacts/
cache/
package-lock.json
pnpm-lock.yaml
**/package-lock.json
CHANGELOG.md
CODEOWNERS
.eslintignore
packages/circuits/ts/verifier_groth16.sol
apps/website/.docusaurus/
apps/website/src/pages/solidity-docs/index.md
**/deployed-contracts.json
**/deploy-config.json
apps/subgraph/generated
apps/subgraph/templates/*.yaml
apps/subgraph/subgraph.yaml
**/zkeys
**/typedoc
