# JSON-RPC endpoint to the selected network
 # JSONRPC_HTTP_URL=

 # One of the two options
 WALLET_MNEMONIC=
 WALLET_PRIVATE_KEY=

 # Used to verify contracts
 # Get the etherscan api keys for goerli, mainnet from https://etherscan.io
 # Get the etherscan api keys for arbitrum and testnets from https://arbiscan.io/
 ETHERSCAN_API_KEY=
