/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  height: 427px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../../static/img/hero.svg");
  background-position: 0% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 8rem;
  color: var(--ifm-color-hero);
  font-family: ShareTechMono;
  gap: 1rem;
}

.heroTitle {
  border: 2px solid white;
  border-radius: 4px;
  padding: 0rem 0.75rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.1rem;
}

.heroTagline {
  font-size: 4.5rem;
  line-height: 5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  display: flex;
  align-items: center;
  padding: 4rem;
  width: 100%;
  font-size: 1.1rem;
}

.blue {
  color: var(--ifm-link-color);
}

.borderBlue {
  text-decoration: underline;
  text-decoration-color: var(--ifm-link-color);
  text-underline-offset: 0.5rem;
  margin-bottom: 1rem;
}

.projectsPage {
  width: 100%;
}

.heroSection {
  padding-top: 170px;
  padding-bottom: 56px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  padding-bottom: 64px;
}

.heroContent h1 {
  font-size: 72px;
  margin-bottom: 16px;
}

.heroContent p {
  font-size: 20px;
}

.actionSection {
  margin-top: 128px;
  margin-bottom: 128px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 46px;
  }

  .heroContent p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .heroContent h1 {
    font-size: 40px;
  }

  .heroContent p {
    font-size: 16px;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1.5rem;
  }

  .introduction {
    padding: 1.5rem;
  }

  .heroTitle {
    font-size: 1.5rem;
    line-height: 2.25rem;
    padding: 0rem 0.5rem;
  }

  .heroTagline {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
