.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  width: 200px;
}

.featureTitle {
  text-decoration: underline;
  text-decoration-color: var(--ifm-link-color);
  text-underline-offset: 0.5rem;
}
