// SPDX-License-Identifier: MIT
pragma solidity ^0.7.2;

abstract contract MerkleZeroes {
    uint256[<% NUM_ZEROES %>] internal zeroes;

    // <% COMMENT %>
    constructor() {
<% ZEROES %>
    }
}
